/* -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=  Root Variables -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-= */
:root {
  --mainBackground: #000000;
  --secondaryBackground: #170b3b;
  --mainFontColor: #ffffff;
  --mainborder:  1px solid rgba(175, 130, 238, 0.389);
  --thickborder: 3px solid rgba(175, 130, 238, 0.389);
  --headerGlow: #9d0deace 0 0 7px 4px;
  --heroBannerBackground: #001951;
  --heroBannerMidText: #a5a7cf;
  --heroBannerLargeText1: #9b0dea;
  --heroBannerDescFont: #ffffff;
  --navbarBorder: 1px solid rgb(10, 10, 10);
  --bannerShadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.6);
  --productImageBackground: #0501089b;
  --productImageBackgroundHover: #9d0dea35;
  --logoFontColor: #cb8aff;
  --cornflowerText: #5a58a2;
  --blueIrisText: #4120a9;
  --linearGradientBackground0: -webkit-linear-gradient(
    to top,
    var(--secondaryBackground),
    var(--mainBackground)
  );
  --linearGradientBackground1: linear-gradient(
    to top,
    var(--secondaryBackground),
    var(--mainBackground)
  );
  --linearGradientReverse0: -webkit-linear-gradient(
    to top,
    var(--mainBackground),
    var(--secondaryBackground)
  );
  --linearGradientReverse1: linear-gradient(
    to top,
    var(--mainBackground),
    var(--secondaryBackground)
  );
  --radialGradientBackground0: rgb(23, 11, 59);
  --radialGradientBackground1: radial-gradient(
    circle,
    rgba(155, 13, 234, 0.6376925770308124) 0%,
    rgba(40, 20, 105, 1) 1%,
    rgba(23, 11, 59, 0.9037990196078431) 5%,
    rgba(52, 26, 136, 1) 8%,
    rgba(65, 32, 169, 0.8687850140056023) 9%,
    rgba(155, 13, 234, 0.6068802521008403) 13%,
    rgba(20, 27, 107, 0.8407738095238095) 16%,
    rgba(0, 25, 81, 0.8939950980392157) 20%,
    rgba(78, 19, 158, 1) 25%,
    rgba(155, 13, 234, 0.7875525210084033) 30%,
    rgba(110, 23, 202, 1) 35%,
    rgba(83, 28, 182, 0.7231267507002801) 38%,
    rgba(65, 32, 169, 0.8715861344537815) 40%,
    rgba(33, 29, 125, 1) 45%,
    rgba(13, 27, 99, 0.76234243697479) 48%,
    rgba(0, 25, 81, 0.9948354341736695) 50%,
    rgba(78, 19, 158, 1) 55%,
    rgba(155, 13, 234, 1) 60%,
    rgba(89, 12, 147, 1) 65%,
    rgba(63, 12, 112, 0.804359243697479) 67%,
    rgba(23, 11, 59, 1) 70%,
    rgba(23, 11, 59, 0.9444152661064426) 72%,
    rgba(23, 11, 59, 1) 75%,
    rgba(0, 25, 81, 1) 80%,
    rgba(16, 24, 96, 0.8631827731092436) 81%,
    rgba(62, 20, 142, 1) 84%,
    rgba(118, 16, 197, 0.8015581232492998) 87%,
    rgba(155, 13, 234, 1) 89%,
    rgba(148, 15, 229, 1) 90%,
    rgba(141, 17, 224, 1) 91%,
    rgba(119, 21, 208, 0.7567401960784313) 94%,
    rgba(65, 32, 169, 0.8855917366946778) 98%,
    rgba(65, 32, 169, 1) 100%
  );
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=  General -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  user-select: none;
}

.main-container {
  margin: auto;
  width: 100%;
  flex-grow: 1;
  min-height: 100vh;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout {
  background: #000000;
  background: var(--linearGradientBackground0);
  background: var(--linearGradientBackground1);
  display: flex;
  flex-direction: column;
}

.background-pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.05) 9%,
        transparent 10%
      )
      0 0,
    transparent;
  background-size: 1rem 1rem;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=  Custom Buttons -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-= */
.btn,
.form-control {
  background-color: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  color: inherit;
  appearance: none;
  font-size: 1rem;
  line-height: 1.2;
  padding: 0.5rem var(--padding-x);
  border-width: 2px;
  border-style: solid;
}

.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  --padding-x: 1rem;
  border-color: transparent;
  font-family: var(--raleway-font);
}

.form-control {
  --padding-x: 0.5rem;
}

.btn-medium {
  font-size: 1.1rem;
  font-weight: 500;
  width: 250px;
  transition: all 0.3s ease;
  border: var(--mainborder);
  border-radius: 5px;
  cursor: pointer;
}

.btn-medium:hover {
  transform: scale(1.03);
  box-shadow: inset 0 0 9e9Q #0005;
}

.btn-medium:active {
  transform: scale(1);
}

.radial-gradient-btn {
  --c: var(--mainFontColor);
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
      var(--_p, 100%) / 300% no-repeat,
    var(--radialGradientBackground1);
  color: #0000;
  border: none;
  transform: perspective(800px) rotateY(calc(15deg * var(--_i, -1)));
  text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c),
    calc(var(--_i, -1) * -0.08em) 0.01em 2px #0004;
  outline-offset: 0.1em;
  transition: 0.3s;
  box-shadow: #a600c0bb 2px 0px 7px;
  border: var(--thickborder);
  border-radius: 3px;
  cursor: pointer;
}

.radial-gradient-btn:hover,
.radial-gradient-btn:focus-visible {
  text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--heroBannerMidText),
    calc(var(--_i, -1) * -0.08em) 0.01em 2px #0004;
  --_p: 0%;
  --_i: 1;
  box-shadow: #a600c095 5px 5px 15px, var(--_i) 10px 10px 10px;
}

.radial-gradient-btn:active {
  text-shadow: none;
  color: var(--heroBannerLargeText1);
  box-shadow: inset 0 0 9e9Q #0005;
  transition: 0s;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=  Header -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-= */
header {
  z-index: 200;
}

.header {
  background: var(--mainBackground);
  position: sticky;
  top: 0;
  box-shadow: 0 0 10px 7px #000000d0;
  border-bottom: var(--navbarBorder);
}

.sticky-header-glow {
  box-shadow: var(--headerGlow);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-logo {
  font-size: 1.75rem;
  color: var(--logoFontColor);
  transition: color 400ms ease;
}

.navbar-logo:hover {
  color: var(--heroBannerLargeText1);
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.navbar-links:hover .navbar-link {
  opacity: 0.3;
}

.navbar-links:hover .navbar-link:hover {
  opacity: 1;
  transform: scale(1.1);
}

.navbar-logo:active,
.navbar-link:active {
  color: var(--cornflowerText);
}

.cart-icon,
.user-icon {
  font-size: 1.5rem;
  color: var(--mainFontColor);
  background-color: transparent;
  display: flex;
  position: relative;
  cursor: pointer;
  border: none;
  transition: all 400ms ease;
}

.cart-icon {
  font-size: 2rem;
}

.cart-item-qty {
  position: absolute;
  right: -8px;
  font-size: 12px;
  color: var(--mainFontColor);
  background-color: var(--heroBannerLargeText1);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
  line-height: 1.5;
}

span.text-red {
  -webkit-text-stroke: 1px #f02d34;
  margin-left: 6px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=  Hero Banner Section -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-= */
.hero-banner-section {
  margin-top: 3rem;
  width: 90%;
  z-index: 100;
}

.hero-banner-container {
  background: #170b3b;
  background: var(--linearGradientBackground0);
  background: var(--linearGradientBackground1);
  /* min-height: calc(100vh - 260px); */
  padding: 1rem;
  border-radius: 15px;
  border: var(--mainborder);
  box-shadow: var(--bannerShadow);
}

.hero-banner-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem;
}

.hero-banner-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero-banner-right {
  display: flex;
  flex-direction: column;
}

.hero-banner-image {
  position: relative;
  width: 450px;
  height: 450px;
}

.hero-banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-banner-text p,
.hero-banner-text h1,
.hero-banner-text h3 {
  margin: 0 !important;
  padding: 0;
}

.hero-banner-text p {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--heroBannerDescFont);
}

.hero-banner-text h3 {
  font-size: 4rem;
  color: var(--heroBannerMidText);
}

.hero-banner-text h2 {
  font-size: 6rem;
  color: var(--heroBannerLargeText1);
}

.hero-banner-text h1 {
  font-size: 7rem;
  color: var(--cornflowerText);
}

.hero-banner-btn-container {
  text-align: center;
  padding-top: 1rem;
}

.hero-banner-btn,
.footer-banner-btn {
  font-weight: bold;
  font-size: 1.75rem;
}

.hero-banner-desc {
  width: 100%;
  line-height: 1.3;
  color: var(--heroBannerDescFont);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-banner-desc p {
  font-weight: 100;
}

.hero-banner-desc h5 {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=  Products Section -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-= */
.products-section {
  margin: 3rem 0;
  width: 100%;
  z-index: 100;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s ease;
  margin: 1rem;
}

.product-image-container {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 0 0.5rem;
  background-color: var(--productImageBackground);
  transition: all 0.3s ease;
  border: var(--mainborder);
  box-shadow: 0 0 16px 0px #00000090 inset;
}

.product-image {
  padding: 0.5rem;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card:hover .product-image-container {
  background: #00000053;
  border: 1px solid var(--heroBannerLargeText1);
}

.product-image-container:active {
  transform: scale(0.95);
}

.product-name {
  margin-top: 6px;
  font-weight: 500;
  color: var(--mainFontColor);
}

.product-price {
  font-weight: 800;
  color: var(--logoFontColor);
  margin-top: 6px;
}

.products-heading {
  text-align: center;
  color: var(--heroBannerMidText);
}

.products-heading h2 {
  font-size: 40px;
  font-weight: 800;
}

.products-heading p {
  font-size: 16px;
  font-weight: 200;
  color: #ffffff;
}

.product-container {
  margin-top: 15px;
  overflow: auto;
  max-height: 70vh;
  padding: 20px 10px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-= Footer Banner Section -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-= */
.footer-banner-section {
  margin-bottom: 3rem;
  width: 90%;
  z-index: 100;
}

.footer-banner-container {
  background: #170b3b;
  background: var(--linearGradientBackground0);
  background: var(--linearGradientBackground1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 15px;
  border: var(--mainborder);
  box-shadow: var(--bannerShadow);
}

.footer-banner-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  font-weight: 700;
  line-height: 1;
  color: var(--mainFontColor);
}

.footer-banner-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-banner-left h3 {
  font-weight: 900;
  font-size: 5rem;
  color: var(--heroBannerMidText);
}

.footer-banner-left h3:first-of-type {
  color: var(--cornflowerText);
}

.footer-banner-left p {
  margin: 1rem 0;
  color: var(--heroBannerLargeText1);
}

.footer-banner-left p:first-of-type {
  color: var(--mainFontColor);
}

.footer-banner-mid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-banner-image {
  position: relative;
  width: 450px;
  height: 450px;
}

.footer-banner-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  line-height: 1.2;
}

.footer-banner-right h3 {
  font-weight: 800;
  font-size: 3.75rem;
  color: var(--heroBannerLargeText1);
}

.footer-banner-right p {
  font-size: 18px;
}

.footer-banner-right .company-desc {
  font-size: 14px;
  font-weight: 300;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=  Product Details Section -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-= */
.product-detail-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 3.75rem;
  color: var(--mainFontColor);
  z-index: 100;
}

.product-detail-container p {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0.1rem;
  opacity: 0.5;
}

.product-detail-image-container {
  position: relative;
  width: 400px;
  height: 400px;
  background: var(--productImageBackground);
  border: var(--mainborder);
  border-radius: 15px;
  cursor: none;
  transition: 0.3s ease-in-out;
}

.product-detail-image {
  padding: 1rem;
}

#productDetailImage {
  touch-action: none;
}

.small-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.small-image-wrapper {
  position: relative;
  width: 70px;
  height: 70px;
}

.small-image {
  border-radius: 8px;
  background: var(--productImageBackground);
  cursor: pointer;
  padding: 0.25rem;
  border: var(--mainborder);
}

.selected-image {
  background-color: var(--productImageBackgroundHover);
  box-shadow: inset 0px 0px 4px 2px #9d0dea75, inset 0px 0px 15px -5px #9d0dea58;
}

.reviews {
  color: var(--heroBannerLargeText1);
  display: flex;
  gap: 5px;
  align-items: center;
}

.product-detail-desc {
  padding: 0.25rem;
}

.product-detail-desc h1 {
  font-size: 1.5rem;
}

.reviews,
.product-detail-desc h4,
.product-detail-desc p:nth-child(4) {
  margin-top: 0.5rem;
}

.reviews p {
  color: var(--heroBannerMidText);
  margin-top: 0px;
}

.product-detail-desc .price {
  font-weight: 700;
  font-size: 26px;
  margin-top: 30px;
  color: var(--heroBannerLargeText1);
}

.price .old-price,
.product-price .old-price,
.price .old-price {
  color: gray;
  text-decoration: line-through;
}

.product-detail-desc .quantity {
  display: flex;
  gap: 0.5rem;
  margin-top: 10px;
  align-items: center;
}

.quantity-desc {
  font-size: 1.25rem;
  line-height: 1;
  margin-top: 0;
  border: var(--mainborder);
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-desc .minus,
.quantity-desc .num,
.quantity-desc .plus {
  padding: 6px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-desc .minus svg,
.quantity-desc .plus svg {
  transition: all 0.3s ease;
}

.quantity-desc .minus {
  border-right: var(--mainborder);
  color: #b12227;
  cursor: pointer;
}

.quantity-desc .num {
  margin: auto;
  text-align: center;
  color: var(--mainFontColor);
  min-width: 3rem;
}

.quantity-desc .plus {
  border-left: var(--mainborder);
  color: #31a831;
  cursor: pointer;
}

.quantity-desc .plus:hover svg {
  color: #37ff37;
}

.quantity-desc .minus:hover svg {
  color: #ff0008;
}

.quantity-desc .plus:active svg {
  transform: scale(0.9);
  color: #288728;
}

.quantity-desc .minus:active svg {
  transform: scale(0.9);
  color: #7b161a;
}

.product-detail-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2.5rem;
}

.product-detail-buttons .add-to-cart-btn {
  background: var(--heroBannerLargeText1);
  color: var(--mainFontColor);
}

.product-detail-buttons .buy-now-btn {
  background: var(--radialGradientBackground0);
  background: var(--radialGradientBackground1);
  color: var(--mainFontColor);
}

.product-detail-buttons .buy-now-btn:active,
.product-detail-buttons .add-to-cart-btn:active {
  color: var(--heroBannerMidText);
}

/* ====== Magnifying Glass ====== */
.zoom {
  width: 15rem;
  height: 15rem;
  background: #ffffff00;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transition: transform 0.25s ease, opacity 0s linear 0.25s,
    background 0.25s ease;
  opacity: 0;
  transform: scale(0);
  transform-origin: 50% 50%;
  overflow: hidden;
  border: 1px solid var(--heroBannerLargeText1);
  cursor: none;
  z-index: 600;
}

.zoom:before {
  content: '';
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.527);
  transition: transform 0.25s ease;
}

.zoom.show {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.25s ease, opacity 0s linear;
}

.zoom.loading {
  background: transparent;
}

.zoom.loading:before {
  display: block;
  animation: loading 0.5s ease infinite alternate;
}

@keyframes loading {
  0% {
    transform: scale(0.1);
    box-shadow: inset 0 0 0 150px var(--cornflowerText);
  }
  50% {
    transform: scale(1);
    box-shadow: inset 0 0 0 140px var(--);
  }
  100% {
    box-shadow: inset 0 0 0 0 var(--heroBannerLargeText1);
  }
}

.zoom.loading .zoom-image {
  opacity: 0;
}

.zoom .zoom-image {
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 0.25s ease;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=  Similar Products Section -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-= */
.similar-products-section {
  max-width: 90%;
  overflow-x: hidden;
  margin-top: 7.5rem;
  margin-bottom: 3rem;
  z-index: 100;
}

.similar-products-section h2 {
  text-align: center;
  margin: 50px;
  color: var(--heroBannerLargeText1);
  font-size: 28px;
}

.mySwiper {
  background: #0000001c;
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.664) inset,
    -5px 0 5px -5px rgba(0, 0, 0, 0.7) inset;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--cornflowerText) !important;
  transition: all 400ms ease !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--heroBannerLargeText1) !important;
}

.swiper-button-next:active,
.swiper-button-prev:active {
  color: var(--cornflowerText) !important;
  transform: scale(0.95);
}

.swiper-pagination-bullet {
  display: none !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.max-qty {
  font-weight: 500;
  color: #f02d34;
}

.product-max-qty {
  margin-top: 10px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=  Cart -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-= */
.cart-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  transition: all 1s ease-in-out;
}

.cart-container {
  height: 100vh;
  width: 500px;
  background: #000000;
  background: var(--linearGradientReverse0);
  background: var(--linearGradientReverse1);
  float: right;
  padding: 40px 10px;
  position: relative;
  border-left: var(--mainborder);
  box-shadow: -5px 0px 7px 0px rgba(0, 0, 0, 0.5);
}

/* .cart-container .product-container {
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.664) inset,
  -5px 0 5px -5px rgba(0,0,0,0.7) inset,
  0 5px 5px -5px rgba(0,0,0,0.7) inset,
  0 -5px 5px -5px rgba(0,0,0,0.7) inset;
} */

.cart-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  gap: 2px;
  border: none;
  background-color: transparent;
  color: var(--mainFontColor);
}

.cart-heading .heading {
  margin-left: 10px;
}

.cart-product {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  color: var(--mainFontColor);
}

.cart-heading-arrow {
  font-size: 1.5rem;
  color: var(--cornflowerText);
  cursor: pointer;
  transition: all 0.3s ease;
}

.cart-heading:hover .cart-heading-arrow {
  color: var(--heroBannerLargeText1);
  transform: scale(1.2);
}

.cart-heading .cart-heading-arrow:active {
  transform: scale(0.9);
}

.cart-product-image-container {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  background-color: var(--productImageBackground);
  border: var(--mainborder);
  position: relative;
}

.cart-product-image {
  padding: 0.5rem;
}

.item-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-desc .top {
  display: flex;
  justify-content: space-between;
  color: var(--heroBannerLargeText1);
}

.item-desc h4 {
  color: var(--heroBannerMidText);
}

.quantity-desc-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.25rem;
}

.cart-num-items {
  margin-left: 10px;
  color: var(--heroBannerMidText);
}

.empty-cart {
  margin: 40px;
  text-align: center;
  color: var(--mainFontColor);
}

.empty-cart svg {
  color: var(--heroBannerLargeText1);
}

.empty-cart h3 {
  font-weight: 600;
  font-size: 20px;
}

.empty-cart-btn {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 1rem;
}

.cancel {
  cursor: pointer;
}

.flex h5 {
  font-size: 1.25rem;
}

.flex h4 {
  font-size: 1rem;
}

.total {
  display: flex;
  justify-content: space-between;
  padding-top: 0.25rem;
  margin-bottom: 0.5rem;
  border-top: var(--mainborder);
}

.total h3 {
  font-size: 22px;
}

.remove-item {
  font-size: 24px;
  color: #941f23;
  cursor: pointer;
  background: transparent;
  border: none;
}

.remove-item svg {
  transition: all ease 0.5s;
}

.remove-item:hover svg {
  color: #f02d34;
  transform: scale(1.1);
}

.remove-item:active svg {
  color: #f02d3392;
  transform: scale(0.95);
}

.cart-bottom {
  position: absolute;
  bottom: 12px;
  right: 5px;
  width: 100%;
  padding: 2rem;
}

.cart-stripe-btn {
  color: var(--mainFontColor);
  background: rgb(99 91 255);
  width: 100%;
  border-radius: 20px;
}

.cart-stripe-btn:active {
  color: var(--heroBannerMidText);
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=  Success Page -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-= */
.success-container,
.cancel-wrapper {
  min-height: 65vh;
  z-index: 100;
}

.success-content,
.cancel {
  width: 1000px;
  margin: auto;
  margin-top: 160px;
  padding: 50px;
  background: var(--linearGradientReverse0);
  background: var(--linearGradientReverse1);
  color: var(--mainFontColor);
  border-radius: 15px;
  border: var(--mainborder);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success-content .icon {
  color: green;
  font-size: 40px;
}

.success-content h2 {
  text-transform: capitalize;
  margin-top: 15px 0px;
  font-weight: 900;
  font-size: 40px;
  color: var(--heroBannerLargeText1);
}

.success-email-msg {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: var(--heroBannerMidText);
}

.success-description {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}

.success-email {
  margin-left: 5px;
  color: var(--cornflowerText);
}

.success-btn-container {
  margin: 2rem;
}

.success-btn {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 1rem;
}

.cancel p {
  font-size: 20px;
  font-weight: 600;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=  Footer -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-= */
footer {
  z-index: 100;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background: var(--mainBackground);
  box-shadow: 0 0 10px 7px #080413d0;
  border-top: var(--navbarBorder);
}

.footer-container p {
  color: var(--heroBannerMidText);
  padding: 0.5rem;
}

.footer-container .icons {
  display: flex;
  gap: 0.75rem;
}

.footer-container .icons svg {
  color: var(--cornflowerText);
  cursor: pointer;
  font-size: 2rem;
  transition: 0.3s ease;
}

.footer-container .icons svg:hover {
  color: var(--heroBannerLargeText1);
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=  Media Queries -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-= */
@media screen and (max-width: 1200px) {
  /* ---- Banner Images ---- */
  .hero-banner-image,
  .footer-banner-image {
    width: 375px;
    height: 375px;
  }

  /* ---- Hero Banner ---- */
  .hero-banner-text h3 {
    font-size: 3rem;
  }
  .hero-banner-text h2 {
    font-size: 5rem;
  }
  .hero-banner-text h1 {
    font-size: 6rem;
  }

  /* ---- Footer Banner ---- */
  .footer-banner-container {
    padding: 0.75rem;
  }
  .footer-banner-left h3 {
    font-size: 4.5rem;
  }
  .footer-banner-right h3 {
    font-size: 3.25rem;
  }
}

@media screen and (max-width: 1024px) {
  /* ---- Banners ---- */
  .hero-banner-section,
  .footer-banner-section {
    width: 100%;
  }
  .hero-banner-image,
  .footer-banner-image {
    width: 300px;
    height: 300px;
  }

  /* ---- Hero Banner ---- */
  .hero-banner-content {
    width: 100%;
  }
  .hero-banner-text h3 {
    font-size: 3rem;
  }
  .hero-banner-text h2 {
    font-size: 5rem;
  }
  .hero-banner-text h1 {
    font-size: 6rem;
  }

  /* ---- Footer Banner ---- */
  .footer-banner-container {
    padding: 0.75rem;
  }
  .footer-banner-left h3 {
    font-size: 4.5rem;
  }
  .footer-banner-right h3 {
    font-size: 3.25rem;
  }
}

@media screen and (max-width: 956px) {
  .hero-banner-btn,
  .footer-banner-btn {
    font-size: 1.5rem;
  }
  /* ---- Hero Banner ---- */
  .hero-banner-container {
    padding: 0.5rem;
  }
  .hero-banner-content {
    padding: 1rem 0;
  }
  .hero-banner-text h3 {
    font-size: 3rem;
  }
  .hero-banner-text h2 {
    font-size: 5rem;
  }
  .hero-banner-text h1 {
    font-size: 6rem;
  }

  /* ---- Products ---- */

  /* ----====== Product Details Page ======---- */
  .product-detail-section {
    gap: 1rem;
  }
  .product-detail-image-container {
    width: 350px;
    height: 350px;
  }
  .small-images-container {
    width: 350px;
  }
  .add-to-cart-btn,
  .buy-now-btn {
    width: 150px;
  }
  .similar-products-wrapper {
    max-width: 100%;
  }

  .mySwiper .product-image-container {
    width: 200px;
    height: 200px;
  }

  /* ---- Cart ---- */
  .cart-container {
    width: 500px;
  }

  .cart-container .product-container {
    padding: 1rem 0;
  }

  /* ---- Footer Banner ---- */
  .footer-banner-container {
    padding: 0.5rem;
  }
  .footer-banner-left h3 {
    font-size: 3.5rem;
  }
  .footer-banner-right h3 {
    font-size: 2.25rem;
  }
  .footer-banner-right p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  /* ---- Navbar ---- */
  .navbar-logo {
    font-size: 1.5rem;
  }

  /* ---- Hero Banner ---- */
  .hero-banner-content {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    padding: 2rem 0;
  }
  .hero-banner-right {
    justify-content: center;
    align-items: center;
  }
  .hero-banner-btn-container {
    padding: 1rem 0;
  }

  /* ---- Product ---- */
  .product-card {
    margin: 1rem 0;
  }

  /* ----====== Product Details Page ======---- */
  .product-detail-image-container {
    width: 300px;
    height: 300px;
  }
  .small-images-container {
    width: 300px;
  }
  .product-detail-desc .quantity {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }
  .quantity .quantity-desc {
    margin: 0;
  }
  .add-to-cart-btn,
  .buy-now-btn {
    width: 150px;
  }
  .product-detail-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0;
    margin-top: 1.5rem;
  }
  .product-detail-buttons .add-to-cart-btn {
    width: 100%;
  }
  .product-detail-buttons .buy-now-btn {
    width: 100%;
    margin-top: 0.5rem;
  }
  .similar-products-wrapper {
    margin: 3rem 1rem;
  }

  /* ---- Cart ---- */
  .cart-container {
    width: 480px;
  }

  .cart-container .product-container {
    padding: 1rem 0;
  }

  /* ---- Footer Banner ---- */
  .footer-banner-content {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
  }
  .footer-banner-content h3 {
    display: contents;
  }
  .footer-banner-left {
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  /* ---- Main ---- */
  .main-container {
    padding: 0;
  }

  /* ---- Banner Containers ---- */
  .hero-banner-section,
  .footer-banner-section {
    width: 100%;
  }

  .hero-banner-container,
  .footer-banner-container {
    border-radius: 0;
    border: none;
  }

  /* ---- Hero Banner ---- */
  .hero-banner-text h3 {
    font-size: 2.5rem;
  }
  .hero-banner-text h2 {
    font-size: 4.5rem;
  }
  .hero-banner-text h1 {
    font-size: 5.5rem;
  }

  /* ---- Product ---- */
  .product-image {
    width: 320px;
    height: 320px;
  }

  /* ----====== Product Details Page ======---- */
  .product-detail-section {
    flex-direction: column;
    padding: 0.5rem;
    margin-top: 3rem;
  }
  .product-detail-section .product-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
  }
  .product-detail-image-container {
    width: 320px;
    height: 320px;
  }
  .small-images-container {
    width: 320px;
  }

  /* ---- Cart ---- */
  .cart-container {
    width: 100vw;
    border-left: none;
  }
  .cart-container .product-container {
    padding: 1rem 0;
  }
  .cart-product-image-container,
  .cart-product-image-container img {
    width: 125px;
    height: 125px;
  }
  .empty-cart-btn {
    font-size: 1.25rem;
    font-weight: bold;
  }

  /* ---- Footer Banner ---- */
  .footer-banner-content {
    padding: 1rem 0;
  }
  .footer-banner-left h3 {
    font-size: 3rem;
  }

  .footer-container p:nth-of-type(2) {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 322px) {
  /* ---- Images ---- */
  .hero-banner-image,
  .footer-banner-image,
  .product-image {
    width: 250px;
    height: 250px;
  }

  /* ---- Hero Banner ---- */
  .hero-banner-text h3 {
    font-size: 1.5rem;
  }
  .hero-banner-text h2 {
    font-size: 3.5rem;
  }
  .hero-banner-text h1 {
    font-size: 4.5rem;
  }

  /* ---- Products ---- */
  .product-image-container {
    border-radius: 0;
  }

  /* ---- Cart ---- */
  .empty-cart-btn {
    width: 100%;
    margin: auto;
    margin-top: 1rem;
  }

  /* ---- Footer Banner ---- */
  .footer-banner-container {
    padding: 0.5rem;
  }
  .footer-banner-left h3 {
    font-size: 2rem;
  }
  .footer-banner-right h3 {
    font-size: 1.75rem;
  }
  .footer-banner-right p {
    font-size: 1rem;
  }
}
